body {
	text-align:center;
	font-family:Arial;
	margin:auto;
	padding:0;
}
h1 {
	font-size:1em;
}
ul {
	margin:0;
	padding:0;
}
ul li {
	font-size:0.9em;
	display:inline-block;
	background-color:#EAEAEA;
	padding:10px;
	margin:2px;
		background-color:#E6E6E6;
}
#calcul-note {
	margin-top:20px;
	border:1px solid grey;
	padding:20px;
	-webkit-border-radius:5em;
	-moz-border-radius:5em;
	border-radius:5em;
}
#note {
	
	padding:10px;
	font-weight:normal;
	margin-left:20px;
}
li.selected {
	background-color:#B3B3B3;
}

@media (max-width: 640px) {
	body {
			width:360px;
	}
	h1 {
		font-size:0.8em;
	}
	ul li {
		font-size:0.65em;
		padding-left:2px;
		padding-right:2px;
	}
}
@media (min-width: 641px) {
	body {
		width:570px;
	}	
}